.time_table_wrapper {
  color: #efefef;
  display: flex;
  font-family: "Open Sans", sans-serif;
  height: 1500px;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

.time_table_wrapper > *, *::before, *::after  {
  box-sizing: border-box;
}

.time_current {
  position: absolute;
  width: calc(100% + 15px);
  background-color: red;
  height: 2px;
  z-index: 10;
  margin-top: 85px;
}

.day {
  background-color: #fff;
  border-right: 1px solid #eaeaea;
  float: left;
  height: 100%;
  position: relative;
}

.day::after {
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 50%, transparent 50%);
  background-position-y: 85px;
  background-size: var(--day-col-size);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% + 24px);
}

.time {
  background-color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 50%, transparent 50%);
  left: 0;
  position: sticky;
  z-index: 1000;
}

.day_title {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

.day_title::after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  height: 1px;
  width: calc(100% + 13px);
  background: #c7c7c7;
}

.day_title::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 1px;
  width: calc(100% + 13px);
  background: #c7c7c7;
}

.resize_handler {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 100%;
  z-index: 1;
  background: rgba(128, 128, 128, 0.1);
  cursor: col-resize;
}

.time_label {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  color: black;
  background: white;
  border-right: 1px solid #ccc;
}

.hour {
  background-color: #ffffff;
  font-size: 12px;
  text-align: center;
  width: 5rem;
  border-right: 1px solid #ccc;
  color: black;
}

.event {
  align-items: start;
  color: black;
  cursor: pointer;
  display: flex;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  font-weight: bolder;
  height: 15vh;
  justify-content: center;
  overflow: hidden;
  padding: 2px 0 0 4px;
  position: absolute;
  width: 100%;
}

.event_small {
  position: absolute;
  width: 100%;
  height: 15vh;
  line-height: 15vh;
  background-color: rgb(18, 205, 177);
  font-size: 0.7em;
  font-weight: bolder;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;
  border-radius: 7px;
  align-items: top;
  border: 1px solid black;
}

.event_info {
  line-height: initial;
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
  padding: 2px 0;
}
