.time_table_wrapper {
  height: 1500px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #efefef;
  overflow: auto;
  display: flex;
}

.day {
  position: relative;
  height: 100%;
  float: left;
  background-color: #fff;
  min-width: 200px;
  border-right: 1px solid #eaeaea;
}

.day::after {
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 50%, transparent 50%);
  background-position-y: 57px;
  background-size: var(--day-col-size);
  bottom: 0;
  width: calc(100% + 24px);
  box-sizing: border-box;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.time {
  position: relative;
  height: 100%;
  float: left;
  background-color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 50%, transparent 50%);
}

.day_title {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  color: black;
  background: white;
  position: relative;
}

.day_title::after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  height: 1px;
  width: calc(100% + 13px);
  background: #c7c7c7;
}

.day_title::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 1px;
  width: calc(100% + 13px);
  background: #c7c7c7;
}

.resize_handler {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: col-resize;
}

.time_label {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  color: black;
  background: white;
  border-right: 1px solid #ccc;
}

.hour {
  background-color: #ffffff;
  font-size: 12px;
  text-align: center;
  width: 5rem;
  border-right: 1px solid #ccc;
  color: black;
}

.event {
  position: absolute;
  width: 100%;
  height: 15vh;
  line-height: 15vh;
  background-color: rgb(18, 205, 177);
  font-size: 0.7em;
  font-weight: bolder;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;
  border-radius: 7px;
  align-items: top;
  cursor: default;
  border: 1px solid black;
}

.event_small {
  position: absolute;
  width: 100%;
  height: 15vh;
  line-height: 15vh;
  background-color: rgb(18, 205, 177);
  font-size: 0.7em;
  font-weight: bolder;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;
  border-radius: 7px;
  align-items: top;
  cursor: default;
  border: 1px solid black;
}

.event_small:hover {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.event_info {
  line-height: initial;
  text-align: center;
}
